body{
    margin: 0px;
    padding: 0px;
    background-color: floralwhite;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: floralwhite;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
    position: fixed;
    width: 90%;
}

nav ul{
    display: flex;
}

nav ul li a{
    margin: 35px;
    font-family:'Courier New', Courier, monospace;
    color: black;
    font-size: 16px;
    font-weight: 650;
}

nav ul li a:hover{
    background-color:rgb(0, 0, 0);
    color:floralwhite;
    border-radius: 4px;
}

.logo {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: px;
    font-weight: bolder;
    
}

#home{
    width: 100%;
    height: 95vh;
    position: relative;
}
.home p{
    line-height: 0px;
    margin: 55px 0px 25px;
    padding-top: 15px;
}

.home p:nth-child(1){
    font-family:'Courier New', Courier, monospace ;
    font-weight: bold;
    color: black;
    font-size: 30px;
}
.home p:nth-child(2){
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
    letter-spacing: none;
    font-size: 30px;
}
.home p:nth-child(3){
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
    font-size: 30px;
}

.home p:nth-child(5){
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
    font-size: 20px;
    line-height: 30px;
}

.home {
    position: absolute;
    left: 5%;
    right: 10%;
    transform: translate(13%, 42%);
}

.gambar {
    width: 450px;
    height: auto;
    position: absolute;
    left: 82%;
    top:30%;
    transform:translateX(-70%);
    border-radius: 20px;
}

.about{
    height: 65vh;
    background-color: floralwhite;
    padding: 2% 10% 10%;
}

.about-desc{
    margin: 50px 50px;
}

.about-desc p:nth-child(1){
    font-family:'Courier New', Courier, monospace;
    font-weight:bolder;
    font-size: 30px;
    line-height: 0px;
    text-align: center;
    margin-bottom: 30px;
    color: black;
}

.about-desc p:nth-child(2){
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 700;
}

.row{
    margin: 30px;
    padding: 20px;
}

.row .column p{
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: large;
}

.column{
    flex: 50%;
    padding: 30px;
    height: 100px;
}

/* Skill */
.skill{
    height: 65vh;
    background-color: floralwhite;
    padding: 2% 10% 10%;
}

.skill-desc{
    margin: 50px 50px;
}

.skill-desc p:nth-child(1){
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
    font-size: 30px;
    line-height: 0px;
    text-align: center;
    margin-bottom: 35px;
}

.skill-desc p:nth-child(2){
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
}

.box-container{
    display: flex;
    text-align: justify;
    justify-content: space-around;
}

.box-1, .box-2, .box-3{
    width: 350px;
    height: 350px;
    box-shadow: 2px 12px 18px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
}

.box-1 span, .box-2 span, .box-3 span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #BEDBBB;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
}


/* Contact */
.contact{
    height: 65vh;
    background-color: floralwhite;
    padding: 2% 10% 10%;
}

.contact-desc{
    margin: 50px 50px;
}

.contact-desc p:nth-child(1){
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
    color: black;
    line-height: 0px;
    text-align: center;
    margin-bottom: 35px;
}

.contact-desc p:nth-child(2){
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 6px 0px 15px 0px;
    resize: vertical;
}

input[type=submit]{
    background-color: #BEDBBB;
    color:black;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
}

input[type=submit]:hover{
 background-color: black;
 color: floralwhite;
}

input:active{
    transform: scale(1.2);
}

/* Footer */
footer{
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: floralwhite;
}

footer p{
    font-family: 'Courier New', Courier, monospace;
}

footer p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    color: black;
    line-height: 20px;
}
footer p:nth-child(2){
    font-size: 18px;
    font-weight: bold;
    color: black;
    line-height: 20px;
    margin: 0px 50px 0px 50px;
}

.social-icons{
    margin: 30px 0px;
    display: flex;
    text-align: center;
}

.social-icons a{
    width: auto;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;

}

.social-icons i{
    font-size: 35px;
    color: grey;
}